.js-trending{
    height: 100vh;
    width: 124px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.glide {
    display: none;


   @include tablet {
        display: inline-block;
        margin-bottom: 50px;
    }
}
.glide__track{
    overflow: hidden;
}


.glide-slide__img {
    border-radius: 5px;
}

