:root {
    --primary-font-family: 'Roboto', sans-serif;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #000000;
    --accent-color: #FF6B08;
    --second--accent-color: #FF001B;
    --backgound-color: #FFFFFF;
    --background-color-grey: #F7F7F7;
    
    --icon-color: #FFFFFF;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-time: 250ms;
}

