    <footer class="footer">
      <div class="container FooterBlock">
        <div class="FooterSection">
          <p>©  2022 | All Rights Reserved |</p> 
        </div>
        <div class="FooterSection">
          <p> Developed with <svg class="FavoriteIcon" width="14" height="13">
          <use href="./images/icons.svg#icon-Vector"></use></svg>
          <button type="button" class="footer-item">by GoIT Students</button>
          </p>
          
        </div>
        
        
            
      </div>
    </footer>